h1,
h1 a,
h2 a {
  color: #c8102e;
}

a {
  text-decoration: none;
}

.flag-blue {
  background-color: #012169;
}

label,
input[type="radio"] {
  padding: 5px;
  vertical-align: top;
  margin-right: 10px;
}

.question-title {
  font-weight: bold;
}
