h1,
h1 a,
h2 a {
  color: #c8102e;
}

a {
  text-decoration: none;
}

.flag-blue {
  background-color: #012169;
}

#submit-btn {
  background-color: #c8102e;
}

label,
input[type="radio"] {
  padding: 5px;
  vertical-align: top;
  margin-right: 10px;
}

.question-title {
  font-weight: bold;
}

nav {
  width: 100vw;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

li {
  padding: 5px;
}

.nav-links {
  text-decoration: none;
  color: white;
}

ul.errorlist {
  list-style-type: none;
}
