{% extends 'quiz/base.html' %} {% block content %}

{% if request.user.is_authenticated %}
<p>{{ request.user }}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>

<div class="container mt-4 d-flex justify-content-center p-2">
  <div>
  <div class="mb-5">
<h1><a href="/">Life in the UK Quiz</a></h1>
</div>
<div>
<form action="" method="POST" role="form">
  
    {% csrf_token %} {% for question in questions %}
    <div class="mb-3 mt-3">
    <p class="question-title">{{ question.question }}</p>
    </div>
    <div class="mb-4">
      <div class="py-1">
    <label class="form-check-label px-2" for="op1"><input
      type="radio"
      id="quiz"
      name="{{question.question}}"
      value="{{question.op1}}"
      class="form-check-input"
    />{{ question.op1 }}</label><br /></div>
    <div class="py-1">
    <label class="form-check-label px-2" for="op2"><input
      type="radio"
      id="quiz"
      name="{{question.question}}"
      value="{{question.op2}}"
      class="form-check-input"
    />{{ question.op2 }}</label><br /></div>
    <div class="py-1">
    <label class="form-check-label px-2" for="op3"><input
      type="radio"
      id="quiz"
      name="{{question.question}}"
      value="{{question.op3}}"
      class="form-check-input"
    />{{ question.op3 }}</label><br /></div>
    <div class="py-1">
    <label class="form-check-label px-2" for="op4"><input
      type="radio"
      id="quiz"
      name="{{question.question}}"
      value="{{question.op4}}"
      class="form-check-input"
    /><span class="question-option">{{ question.op4 }}</span></label><br /></div>
  </div>
  
    {% endfor %}
    <div>
    
    <button type="submit" class="btn flag-red text-white mt-3" name="quiz-submit" id="submit-btn">Submit</button>
  </div>
  </div>
</div>
</form>
</div>
</div>


{% endblock %}
