{% extends 'quiz/base.html' %} {% block content %}
<div class="container mt-4 d-flex justify-content-center p-2">
  <div>
  <div class="mb-5">
<h1><a href="/">Life in the UK Quiz</a></h1>
</div>
<div>
<form action="" method="POST" role="form">
  
    {% csrf_token %} {% for question in questions_list %}
    <div class="mb-3 mt-3">
    <h3>Question {{questions_list.number}} of {{questions_list.paginator.num_pages}}</h3>
    <br>
    <p class="question-title">{{ question.question }}</p>
    </div>
    <div class="mb-4">
      <div class="py-1">
    <label class="form-check-label px-2" for="op1"><input
      type="radio"
      id="quiz"
      name="{{question.question}}"
      value="{{question.op1}}"
      class="form-check-input"
    />{{ question.op1 }}</label><br /></div>
    <div class="py-1">
    <label class="form-check-label px-2" for="op2"><input
      type="radio"
      id="quiz"
      name="{{question.question}}"
      value="{{question.op2}}"
      class="form-check-input"
    />{{ question.op2 }}</label><br /></div>
    <div class="py-1">
    <label class="form-check-label px-2" for="op3"><input
      type="radio"
      id="quiz"
      name="{{question.question}}"
      value="{{question.op3}}"
      class="form-check-input"
    />{{ question.op3 }}</label><br /></div>
    <div class="py-1">
    <label class="form-check-label px-2" for="op4"><input
      type="radio"
      id="quiz"
      name="{{question.question}}"
      value="{{question.op4}}"
      class="form-check-input"
    /><span class="question-option">{{ question.op4 }}</span></label><br /></div>
  </div>
  
    {% endfor %}
    <div>
    {% if questions_list.has_previous %}
  
    <a href="?page={{ questions_list.previous_page_number}}" class="btn flag-blue text-white mt-3" >Previous</a>
    {% endif %}

{% if questions_list.has_next %}
  <a href="?page={{ questions_list.next_page_number}}" class="btn flag-blue text-white mt-3">Next</a>

{% endif %}
    <button type="submit" class="btn flag-blue text-white mt-3" name="quiz-submit" id="submit-btn">Submit</button>
  </div>
  </div>
</div>
</form>
</div>
</div>


{% endblock %}
